{% extends 'base.html.twig' %}

{% block title %}
    Editer un utilisateur
{% endblock %}

{% block section %}
    <section>
    <div class="buttonLink">
        <a href="javascript:ouvre_doc('{{path('documentation_show',{'doc':'userEdit'}) }}')">Voir l'aide</a>
    </div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">Edition des utilisateurs</div>
            <div class="panel-body">


    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Editer" />


                {{ form_end(edit_form) }}
                <div class="buttonLink">
                        <a href="{{ path('user_index') }}">Retour à la liste</a>
                </div>
                        {{ form_start(delete_form) }}
                        <input class="btn btn-danger" type="submit" value="Supprimer">
                        {{ form_end(delete_form) }}

            </div></div></div></div>


    </section>
{% endblock %}
