{% extends 'base.html.twig' %}

{% block title %}
    Editer un utilisateur
{% endblock %}

{% block section %}
    <section>
        <button class="btn btn-info buttonInfo">
            <a style="color:white;text-decoration: none;" href="javascript:ouvre_doc('{{path('documentation_show',{'doc':'userEdit'}) }}')">Voir l'aide</a>
        </button>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">Edition des utilisateurs</div>
            <div class="panel-body">


    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
                <hr>
<table>
    <tr>
        <td>
            <input class="button" type="submit" value="Editer" />
            {{ form_end(edit_form) }}
        </td>
        <td>
            {{ form_start(delete_form) }}
            <input class="buttonDanger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </td>
        <td>
            <div class="buttonLink">
                <a href="{{ path('user_index') }}">Retour à la liste</a>
            </div>
        </td>
    </tr>
</table>

</div></div></div></div>


    </section>
{% endblock %}
