{% extends 'base.html.twig' %}

{% block title %}
    Gestion des utilisateurs
{% endblock %}

{% block section %}
<div class="wrapper">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <table class="table table-hover table-striped">
            <thead>
          <tr class="panel-heading">
            <td colspan="4"><h3>Gestion des utilisateurs</h3></td>
            <td colspan="6">
            <div class="buttonLinkTop">
              <a href="{{ path('user_new') }}">Ajouter un nouvel utilisateur</a>
            </div>
            </td>
            <td colspan="3"></td>
        </tr>
              <div class="container col-md-10 col-md-offset-1">
                <div class="table-responsive">
            <tr>
                <th>Id</th>
                <th>Nom d'utilisateur</th>
                <th>Role attribué</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Cp</th>
                <th>Ville</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Newsletter</th>
                <th>Date de naissance</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>
                {% for role in user.userRoles %}
                     {{ role.name }}
                {% endfor %}
                </td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.cp }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.telephone }}</td>
                <td>Contacter : <a style="color:#0AC375" href="{{ path('contact_presse',{'id':user.id}) }}">{{ user.email }}</a></td>
                <td>{% if user.newsletter %}Oui{% else %}Non{% endif %}</td>
                <td>{% if user.birthDate %}{{ user.birthDate|date('Y-m-d') }}{% endif %}</td>
                <!-- H:i:s-->
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('user_editadmin', { 'id': user.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  </div>
</div>
</div>
</div>
</div>

{% endblock %}
