{% extends 'base.html.twig' %}

{% block title %}
    Profil
{% endblock %}

{% block section %}
    <h1>Profil de {{ user.nom }} {{ user.prenom }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
                <th>Cp</th>
                <td>{{ user.cp }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.ville }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{% if user.birthDate %}{{ user.birthDate|date('d-m-Y') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% if app.user.username == user.username %}
        <ul>
            {% if(is_granted('ROLE_ADMIN')) %}
                <li>
                    <a href="{{ path('user_editadmin',{"id":user.id}) }}">Editer son profil</a>
                </li>
            {% else %}
            <li>
                <a href="{{ path('user_edit',{"id":user.id}) }}">Editer son profil</a>
            </li>
            {% endif %}
            <li>
                <a href="{{ path("password_change") }}">Changer de mot de passe</a>
            </li>
        </ul>
    {% endif %}

    <ul>
        <li>
            <a href="javascript:history.go(-1)">Retour page précedente</a>
        </li>
    </ul>
{% endblock %}
