{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/events/css/events.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block section %}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">Liste des événements</div>
        <div class="panel-body">
<div class="container">

    {% for event in events %}
        <div class="event_block">
        <h1><a href="{{ path('events_show', { 'id': event.id }) }}">{{ event.title }}</a></h1>
        <h4>{% if event.start %}{{ event.start|date('d/m/Y H:i:s') }}{% endif %}

        {# {% if event.end %}
            {% if event.start|date('d/m/Y') != event.end|date('d/m/Y') %}
                {{ event.end|date('> d/m/Y H:i:s') }}
            {% else %}
                {{ event.end|date('> H:i:s') }}
            {% endif %}
        {% endif %} #}

        </h4>
        {{ event.description }}
        </div>
    {% endfor %}

    <hr>
    <a href="{{ path('events_new') }}">Créer un événement</a>

{% endblock %}
