{% extends 'base.html.twig' %}

{% block section %}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">Liste des événements</div>
        <div class="panel-body">
<div class="container">

    {% for event in events %}
        <div class="event_block">
            <h1><a href="{{ path('events_show', { 'id': event.id }) }}">{{ event.title }}</a></h1>
            <div class="date">
                <h4>
                {% if event.start %}{{ event.start|localizeddate("medium", "none", null, null, "ccc d LLL à HH:mm") }}{% endif %}
                </h4>
            </div>
            {{ event.description }}<br/>
            {{ event.places }}
            {{dump(event)}}
            <a href="{{ path('registration_new', {"id": event.id }) }}">S'inscrire</a>
        </div>
    {% endfor %}

    <hr>
    <a href="{{ path('events_new') }}">Créer un événement</a>
</div>

{% endblock %}
