{% extends 'base.html.twig' %}

{% block section %}

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">Liste des évènements</div>
        <div class="panel-body">
<div class="container">
          <div class="buttonLinkTop">
              {% if(is_granted('ROLE_ADMIN')) %}
                <a href="{{ path('events_new') }}">Créer un événement</a>
            {% endif %}
           </div>
<h1>Évènements en cours ou à venir</h1><hr>
{% if futureevents %}
    {% for event in futureevents %}
        <h1><a href="{{ path('events_show', { 'id': event.id }) }}">{{ event.title }}</a></h1>
        <h4>
        {% if event.start and event.end %}
            <p><span class="glyphicon glyphicon-time"></span>
            {% if event.start|date('Y-m-d') != event.end|date('Y-m-d') %}
                Du {{ event.start|localizeddate("medium", "none", null, null, "ccc d LLL") }}
                au {{ event.end|localizeddate("medium", "none", null, null, "ccc d LLL") }}
            {% else %}
                {{ event.start|localizeddate("medium", "none", null, null, "ccc d LLL - HH:mm") }}-{{ event.end|localizeddate("medium", "none", null, null, "HH:mm") }}
            {% endif %}
            </p>
        {% endif %}
        </h4>
        <h4>
        {% if event.address %}
            <p><span class="glyphicon glyphicon-home"></span>
                {{ event.address }}
            </p>
        {% endif %}
</h4>
        <hr>      
        {{ event.description|length > 100 ? event.description|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0, 100) ~ '...' : event.description|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}
<hr>
        <!-- Image -->
        {% if not event.imageName %}
            <td><img class="img-responsive" src="{{ asset('/public/img/events/default.jpg') }}" alt="{{ event.title }}" style="width:304px;height:228px;"></td>
        {% else %}
            <td><img class="img-responsive" src="{{ asset('/public/img') }}{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.title }}" style="width:304px;height:228px;"></td>
        {% endif %}
<hr>

        <!-- Tags -->
        Mots-clés :
        {% for tag in event.tag %}
            <a href="{{ path('tags_events_search',{"libelle":tag.libelle}) }}">{{ tag.libelle}}</a>
            <!-- <button class="tagbox" type="submit">{{ tag.libelle}}</button> -->
        {% endfor %}
        <br/>
        {% if event.registrations|length < event.places %}
            <a href="{{ path('registration_new', {"id": event.id }) }}">S'inscrire</a>
        {% else %}
            <p> Le nombre d'inscription maximum pour cet évènement a été atteint </p>
        {% endif %}
        <hr>
    {% endfor %}
{% else %}
    Il n'y a actuellement pas d'événement de programmé.
    <hr>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
    {% if pastevents %}
        <h1>Évènements passés</h1><hr>
        {% for event in pastevents %}
            <h1><a href="{{ path('events_show', { 'id': event.id }) }}">{{ event.title }}</a></h1>
            <h4>
            {% if event.start and event.end %}
                <p><span class="glyphicon glyphicon-time"></span>
                {% if event.start|date('Y-m-d') != event.end|date('Y-m-d') %}
                    Du {{ event.start|localizeddate("medium", "none", null, null, "ccc d LLL") }}
                    au {{ event.end|localizeddate("medium", "none", null, null, "ccc d LLL") }}
                {% else %}
                    {{ event.start|localizeddate("medium", "none", null, null, "ccc d LLL - HH:mm") }}-{{ event.end|localizeddate("medium", "none", null, null, "HH:mm") }}
                {% endif %}
                </p>
            {% endif %}
            </h4>
            <h4>
            {% if event.address %}
                <p><span class="glyphicon glyphicon-home"></span>
                    {{ event.address }}
                </p>
            {% endif %}
            </h4>
<hr>
            {{ event.description|length > 100 ? event.description|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0, 100) ~ '...' : event.description|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}
<hr>
            <!-- Image -->
            {% if not event.imageName %}
                <td><img class="img-responsive" src="{{ asset('/public/img/events/default.jpg') }}" alt="{{ event.title }}" style="width:304px;height:228px;"></td>
            {% else %}
                <td><img class="img-responsive" src="{{ asset('/public/img') }}{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.title }}" style="width:304px;height:228px;"></td>
            {% endif %}

            <!-- Tags -->
            Mots-clés :
            {% for tag in event.tag %}
                <a href="{{ path('tags_events_search',{"libelle":tag.libelle}) }}">{{ tag.libelle}}</a>
                <!-- <button class="tagbox" type="submit">{{ tag.libelle}}</button> -->
            {% endfor %}
            <br/>           
            <hr>
        {% endfor %}
    {% endif %}
{% endif %}   

</div>

{% endblock %}
