{% extends 'base.html.twig' %}

{% block section %}
    <h1>Events list</h1>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">Liste des événements</div>
        <div class="panel-body">
<div class="container">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Start</th>
                <th>End</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('events_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>{% if event.start %}{{ event.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if event.end %}{{ event.end|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('events_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('events_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('events_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
