{% extends 'base.html.twig' %}

{% block title %}
    Création d'évènement
{% endblock %}

{% block section %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">Création d'un évènement</div>
        <div class="panel-body">
          <div class="container col-md-10 col-md-offset-1">

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.start) }}
        {{ form_row(form.end) }}
        {% if event.imageName %}
             <img class="img-responsive" src="{{ asset('/public/img') }}{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.title }}" style="width:304px;height:228px;">
        {% endif %}
        {{ form_row(form.places) }}
        {{ form_row(form.address) }}
        <div class="vich-file">
            {{ form_widget(form.imageFile) }}
            <hr>
        {{ form_row(form.tag) }}
<hr>

<hr>
    <input class="btn btn-success" type="submit" value="Créer un évènement" />
    {{ form_end(form) }}
            <div class="buttonLink">
                <a href="{{ path('article_index') }}">Retour à la liste</a>
            </div>
        </div></div></div></div></div>

    </div>
{% endblock %}
