{% extends 'base.html.twig' %}

{% block title %}
    Voir l'évènement
{% endblock %}

{% block section %}
<section>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <!-- Blog Post Content Column -->


            <!-- Blog Post -->

            <!-- Title -->
            <h1>{{ event.title }}</h1>

            <hr>

            <!-- Duration -->
            {% if event.start and event.end %}
                <p><span class="glyphicon glyphicon-time"></span>
                {% if event.start|date('Y-m-d') != event.end|date('Y-m-d') %}
                    Du {{ event.start|localizeddate("medium", "none", null, null, "ccc d LLL - HH:mm") }}
                    au {{ event.end|localizeddate("medium", "none", null, null, "ccc d LLL - HH:mm") }}
                {% else %}
                    {{ event.start|localizeddate("medium", "none", null, null, "ccc d LLL - HH:mm") }}-{{ event.end|localizeddate("medium", "none", null, null, "HH:mm") }}
                {% endif %}
                </p>
            {% endif %}

            <!-- Address -->
            {% if event.address %}
                <p><span class="glyphicon glyphicon-home"></span>
                    {{ event.address }}
                </p>
            {% endif %}

            <!-- Remaining Places-->
            {% if event.registrations|length < event.places %}
                <a href="{{ path('registration_new', {"id": event.id }) }}">S'inscrire</a>
            {% else %}
                <p> Le nombre d'inscription maximum pour cet évènement a été atteint </p>
            {% endif %}

            <hr>

            <!-- Image -->

            {% if not event.imageName %}
                <td><img class="img-responsive" src="{{ asset('/public/img/events/default.jpg') }}" alt="{{ event.title }}" style="width:304px;height:228px;"></td>
            {% else %}
                <td><img class="img-responsive" src="{{ asset('/public/img') }}{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.title }}" style="width:304px;height:228px;"></td>
            {% endif %}

            <!-- Post Content -->

            {{ event.description|raw }}

            <hr>

            <!-- Tags -->
            Mots-clés :
            {% for tag in event.tag %}
                <a href="{{ path('tags_events_search',{"libelle":tag.libelle}) }}">{{ tag.libelle}}</a>
                <!-- <button class="tagbox" type="submit">{{ tag.libelle }}</button> -->
            {% endfor %}
            </div>

            <br/><a href="{{ path('events_index') }}">Retourner à la liste</a>
            {% if is_granted('ROLE_ADMIN') %}
                <br/><a href="{{ path('events_edit', { 'id': event.id }) }}">Editer l'évènement</a>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Effacer l'évènement">
                {{ form_end(delete_form) }}
            {% endif %}            
            </div>
            </div>

            <!-- Registrations -->

            {% if is_granted('ROLE_ADMIN') %}
                <table>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>E-mail</th>
                    </tr>
                {% for registration in event.registrations %}
                    <rt>
                        <td>{{ registration.prenom }}</td>
                        <td>{{ registration.nom }}</td>
                        <td>{{ registration.email }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
</div>
        </div>
</section>
{% endblock %}