<section>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-body">

        <!-- Blog Post Content Column -->


            <!-- Blog Post -->

            <!-- Title -->
            <h1>{{ event.title }}</h1>

            <hr>

            <!-- Duration -->
            {% if event.start %}
                <p><span class="glyphicon glyphicon-time"></span>
                    {{ event.start|localizeddate("medium", "none", null, null, "ccc d LLL à HH:mm") }}
                </p>
            {% endif %}

            <!-- Address -->
            {% if event.address %}
                <p><span class="glyphicon glyphicon-home"></span>
                    {{ event.address }}
                </p>
            {% endif %}

            <!-- Remaining Places-->
            {% if event.registrations|length < event.places %}
                {{ event.places - event.registrations|length }} {{ (event.places - event.registrations|length) > 1 ? 'places restantes.' : 'place restante.' }}
            {% else %}
                <p> Le nombre d'inscription maximum pour cet évènement a été atteint </p>
            {% endif %}

            <hr>

            <!-- Image -->

            {% if not event.imageName %}
                <td><img class="img-responsive" src="{{ asset('/public/img/article/default.jpg') }}" alt="{{ event.title }}" style="width:304px;height:228px;"></td>
            {% else %}
                <td><img class="img-responsive" src="{{ asset('/public/img') }}{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.title }}" style="width:304px;height:228px;"></td>
            {% endif %}
            <hr>

            <!-- Post Content -->

            {{ event.description|raw }}
            <hr>
            <!-- Tags -->
            Mots-clés :
            {% for tag in event.tag %}
                <a href="{{ path('tags_events_search',{"libelle":tag.libelle}) }}">{{ tag.libelle}}</a>
                <!-- <button class="tagbox" type="submit">{{ tag.libelle}}</button> -->
            {% endfor %}

            </div>
            </div>

</div>
        </div>
</section>