{% extends 'base.html.twig' %}

{% block section %}
<section>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <!-- Blog Post Content Column -->


            <!-- Blog Post -->

            <!-- Title -->
            <h1>{{ event.title }}</h1>

            <hr>

            <!-- Duration -->
            {% if event.start %}
                <p><span class="glyphicon glyphicon-time"></span>
                    {{ event.start|localizeddate("medium", "none", null, null, "ccc d LLL à HH:mm") }}
                </p>
            {% endif %}

            <!-- Address -->
            {% if event.address %}
                <p><span class="glyphicon glyphicon-home"></span>
                    {{ event.address }}
                </p>
            {% endif %}


            <!-- Remaining Places-->
            {% if event.registrations|length < event.places %}
                <a href="{{ path('registration_new', {"id": event.id }) }}">S'inscrire</a>
            {% else %}
                <p> Le nombre d'inscription maximum pour cet évènement a été atteint </p>
            {% endif %}

            <hr>

            <!-- Post Content -->

            {{ event.description|nl2br }}

            </div>
            </div>

</div>
        </div>
</section>
    <ul>
        <li>
            <a href="{{ path('events_index') }}">Retourner à la liste</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('events_edit', { 'id': event.id }) }}">Editer l'évènement</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Effacer l'évènement">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}