    <h1>Events</h1>

    <table>
        <tbody>

            <tr>
                <th>Title</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{% if event.start %}{{ event.start|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{% if event.end %}{{ event.end|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
             <tr>
                <th>Places restantes</th>
                <td>{{ (event.places -event.registrations| length) }}</td>
            </tr>
        </tbody>
    </table>