{% extends 'base.html.twig' %}

{% block title %}
    Voir l'évènement
{% endblock %}

{% block section %}

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

            <!-- Title -->
            <h1>{{ event.title }}</h1>

            <hr>

            <!-- Duration -->
            {% if event.start and event.end %}
                <p><span class="glyphicon glyphicon-time"></span>
                {% if event.start|date('Y-m-d') != event.end|date('Y-m-d') %}
                    Du {{ event.start|localizeddate("medium", "none", null, null, "ccc d LLL - HH:mm") }}<br/>
                    au {{ event.end|localizeddate("medium", "none", null, null, "ccc d LLL - HH:mm") }}
                {% else %}
                    {{ event.start|localizeddate("medium", "none", null, null, "ccc d LLL - HH:mm") }}-{{ event.end|localizeddate("medium", "none", null, null, "HH:mm") }}
                {% endif %}
                </p>
            {% endif %}

            <!-- Address -->
            {% if event.address %}
                <p><span class="glyphicon glyphicon-home"></span>
                    {{ event.address }}
                </p>
            {% endif %}

            <!-- Remaining Places-->
            {% if event.registrations|length < event.places %}
                <a href="{{ path('registration_new', {"id": event.id }) }}">S'inscrire</a>
            {% else %}
                <p> Le nombre d'inscription maximum pour cet évènement a été atteint </p>
            {% endif %}

            <hr>

            <!-- Preview Image -->
            {% if not event.imageName %}
                <td><img class="img-responsive" src="{{ asset('/public/img/events/default.jpg') }}" alt="{{ event.title }}" style="width:304px;height:228px;"></td>
            {% else %}
                <td><img class="img-responsive" src="{{ asset('/public/img') }}{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.title }}" style="width:304px;height:228px;"></td>
            {% endif %}
            <hr>

            {{ event.description | raw }}

            <hr>

            <th>Mots-clés</th>
            <td><!--Affichage des tags de l'évènement -->
                <div style="display:flex;flex-flow:row nowrap;">
                {% for tag in event.tag %}

                    <div class="tagbox">
                        <a href="{{ path('tags_events_search', { 'libelle': tag.libelle }) }}">{{ tag.libelle }}</a>
                    </div>
                {% endfor  %}
                </div>
            </td>

<hr>

            <!-- Registrations -->

            {% if is_granted('ROLE_ADMIN') %}
                <table>
                    <thead>
                    <tr class='panel-heading'>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>E-mail</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for registration in event.registrations %}
                        <tr>
                            <td>{{ registration.nom }}</td>
                            <td>{{ registration.prenom }}</td>
                            <td>{{ registration.email }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

<hr>
<table>
    <tr>
        <td>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="buttonLink">
                <a href="{{ path('events_edit', { 'id': event.id }) }}">Editer l'évènement</a>
            </div>
        </td>
        <td>
            {{ form_start(delete_form) }}
            <input class="buttonDanger"  type="submit" value="Effacer l'évènement">
            {{ form_end(delete_form) }}
            {% endif %}
        </td>
        <td>
            <div class="buttonLink">
                <a href="{{ path('events_index') }}">Retourner à la liste</a>
            </div>
        </td>
    </tr>
</table>

          </hr>
    </div></div>
    </div>
  </div>

{% endblock %}
