{% extends 'base.html.twig' %}

{% block body %}
    <h1>Newsletter - affichage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ newsletter.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if newsletter.date %}{{ newsletter.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ newsletter.sujet }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ newsletter.texte }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('newsletter_edit', { 'id': newsletter.id }) }}">Éditer</a>
        </li>
        <li>
            <a href="{{ path('newsletter_index') }}">Retour à la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
