{% extends 'base.html.twig' %}
{% block title%}
    S'inscrire
{% endblock %}
{% block section %}

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">S'inscrire à l'évènement {{ event.title }}</div>
        <div class="panel-body">
<div class="container">
{% include('events/showReg.html.twig') %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
<table>
    <tr>
        <td>
            <input class="button" type="submit" value="S'inscrire" />
            {{ form_end(form) }}
        </td>
        <td>
            <div class="buttonLink">
                <a href="{{ path('events_index') }}">Retour à la liste des évènements</a>
            </div>
        </td>
    </tr>
</table>


</div>

{% endblock %}
