{% extends 'base.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% block section %}
    <div class="container">
        <div class="blocGauche">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="jumbotron">
                <h1>Nous contacter par mail : </h1>

                <form action="{{ path('contact') }}" method="post">

                    {{ form_label(formContact.email) }}
                    {{ form_widget(formContact.email) }}
                    {{ form_errors(formContact.email) }}
                    <br/>

                    {{ form_label(formContact.sujet) }}
                    {{ form_widget(formContact.sujet) }}
                    {{ form_errors(formContact.sujet) }}
                    <br/>

                    {{ form_label(formContact.contenu) }}
                    {{ form_widget(formContact.contenu) }}
                    {{ form_errors(formContact.contenu) }}

                    {{ form_label(formContact.captcha) }}
                    {{ form_widget(formContact.captcha) }}
                    {{ form_errors(formContact.captcha) }}
                    <br/>

                    {#Ce dernier form widget vas nous permettre d'ajouter des que nous aurions pu oublier et SURTOUT le form token sans ça votre formulaire ne sera jamais valide !!#}
                    {{ form_widget(formContact) }}
                    {{ form_errors(formContact) }}
                    <button class="btn btn-success btn-big">Envoyer</button>
                </form>
            </div>

            </div>
        </div>
    </div>
        <div class="blocDroite">
            <ul>
                <h3>Nous contacter par courrier</h3>
                <li>
                    Adresse de l'association :
                </li>
                <li>
                    6 avenue de la Devinière
                </li>
                <li>
                    44000
                </li>
                <li>
                    Nantes
                </li>
            </ul>

        </div>
    </div>

{% endblock %}
{% block stylesheets %}

    <link href="{{ asset('public/CSS/contact.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}
