<p>Bonjour Michelle !!</p>

<p>Vous recevez ce message après une demande d'inscription !</p>
<p>La personne faisant la demande est la suivante : </p>

<ul>
    <li>
        {{ demande.email }}
    </li>
    <li>
        {{ demande.nom }}
    </li>
    <li>
        {{ demande.prenom }}
    </li>
    <li>
        {{ demande.adresse }}
    </li>
    <li>
        {{ demande.cp }}
    </li>
    <li>
        {{ demande.ville }}
    </li>
    <li>
        {{ demande.telephone }}
    </li>
    <li>
        {{ demande.birthDate }}
    </li>
</ul>