{% extends 'base.html.twig' %}

{% block section %}
<div id="myCarousel" class="carousel slide">
{% if events is defined %}
<!-- Half Page Image Background Carousel Header -->
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% if events|length > 1 %}
            {% for event in events %}
                {% if loop.first %}
                    <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
                {% else %}
                    <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}"></li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ol>
    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        {% for event in events %}
            {% if loop.first %}
                <div class="item active">
                    {% if not event.imageName %}
                        <div class="fill" style="background-image:url('{{ asset('/public/img/event/handicap.jpg') }}');"></div>
                    {% else %}
                        <div class="fill" style="background-image:url('{{ asset('/public/img') }}{{ vich_uploader_asset(event, 'imageFile') }}');"></div>
                    {% endif %}
                    <div class="carousel-caption">
                        <h2>{{ event.start|date('d/m') }} {{ event.title }}</h2>
                        <a href="{{ path('events_show', { 'id': event.id }) }}">Voir les détails et s'inscrire</a>
                    </div>
                </div>
            {% else %}
                <div class="item">
                    <div class="fill" style="background-image:url('{{ asset('/public/img') }}{{ vich_uploader_asset(event, 'imageFile') }}');"></div>
                    <div class="carousel-caption">
                        <h2>{{ event.start|date('d/m') }} {{ event.title }}</h2>
                        <a href="{{ path('events_show', { 'id': event.id }) }}">Voir les détails et s'inscrire</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
{% endif %}
</div>
<div class="container">
    	<hr>
<p class="lead text-center">Les derniers articles:</p>
      <div class="row">
        {% for article in articles %}
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
        {% if not article.imageName %}
            <img class="img-responsive" src="{{ asset('/public/img/article/handicap.jpg') }}" alt="{{ article.titreArticle }}" style="">
        {% else %}
            <img class="img-responsive" src="{{ asset('/public/img') }}{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.titreArticle }}" style="">
        {% endif %}
              <div class="overlay">
                  <h2>{{article.titreArticle}}</h2>
  				<p>
  					<a href="{{path('article_show',{'id':article.id})}}">Lire l'Article</a>
  				</p>
              </div>
      </div>
  </div>
{% endfor %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
{% endblock %}
