{% extends 'base.html.twig' %}

{% block section %}

<div class="bg"></div>

<section>

      <div class="row">
        <h1 class="text-center"><i class="icon-fire icon-3x"></i></h1>
        <h1 class="text-center"><strong>TOUS ENSEMBLES</strong></h1>
        <p class="lead text-center">Débattons des vrais sujets</p>
      </div>

      <div class="row">
          <div class="col-md-4">
            <div class="text-center">
              <h1>Ethique</h1>
              <p>
              Take a look at what we mixed up in our Bootstrap test labs.
              Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor.</p>

            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <h1>Handicap</h1>
              <p>
              Take a look at what we mixed up in our Bootstrap test labs.
              Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor.</p>

            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <h1>Société</h1>
              <p>
              With all of the front-end frameworks at hand, why does Bootstrap lead?
              Aliquam mauris arcu, tristique a, condimentum feugiat justo.</p>

            </div>
          </div>
    </div>
</section>

<section>
  {% for article in articles %}
      <div class="row">
       <div class="col-md-12">
        <div class="col-md-5 col-md-offset-1">
          <div class="panel panel-default">
           <div class="panel-heading"><a href="{{path('article_show',{'id':article.id})}}">{{article.titreArticle}}</a></div>
           <div class="panel-body">
             {{ article.content}}
           </div>
           <div class="panel-body">
             {% for tag in article.tag%}
             <a href="{{ path('tags_search',{"libelle":tag.libelle}) }}">{{ tag.libelle}}</a>
             {% endfor %}
           </div>
          </div>
          </div>
          </div>
          </div>
          {% endfor %}

</section>
<section>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
        <h2>Build</h2>
          Bootply is a playground for Twitter Bootstrap.
        </div>
        <div class="col-md-4">
        <h2>Design</h2>
          Use Bootply to design, prototype, extend the Bootstrap framework.
        </div>
        <div class="col-md-4">
        <h2>Test</h2>
          Use Bootply to test and debug Bootstrap designs.
        </div>
      </div>
      </div>
</section>

<section>
  <div class="row">
    <div class="text-center">
      <a href="http://www.bootply.com"><i class="icon-facebook icon-3x"></i> </a> &nbsp;
      <a href="http://twitter.com/bootply"><i class="icon-twitter icon-3x"></i></a> &nbsp;
      <a href="http://pinterest.com/in1"><i class="icon-pinterest icon-3x"></i></a>
    </div>
  </div>
</section>
{% endblock %}
