{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block section %}

<div class="bg"></div>

<section>
      <div class="row">
        <h1 class="text-center"><i class="icon-fire icon-3x"></i></h1>
        <h1 class="text-center"><strong>ENSEMBLE</strong></h1>
        <p class="lead text-center">Disputons nous</p>
      </div>
      <div class="row">
          <div class="col-md-4">
            <div class="text-center">
              <h1>Ethique</h1>
              <p>
              L'éthique c'est vraiment top car c'est vraiment bien et en plus c'est génial.</p>

            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <h1>Handicap</h1>
              <p>
              Le handicap c'est pas terrible parce que c'est vraiment handicapant et en plus c'est très bof.</p>

            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <h1>Société</h1>
              <p>
              La société elle à que des problèmes, la société elle à mauvaise haleine.</p>

            </div>
          </div>
    </div>
</section>

<section>
  {% for article in articles %}
      <div class="row">
       <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
           <div class="panel-heading"><a href="{{path('article_show',{'id':article.id})}}">{{article.titreArticle}}</a>
           </div>
             <div class="panel-body">
               <div class="row">
                 <div class="col-sm-4">

                     {% if not article.imageName %}
                         <img class="img-responsive" src="{{ asset('/public/img/article/handicap.jpg') }}" alt="{{ article.titreArticle }}" style="width:304px;height:228px;">
                     {% else %}
                         <img class="img-responsive" src="{{ asset('/public/img') }}{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.titreArticle }}" style="width:304px;height:228px;">
                     {% endif %}

                 </div>
                  <div class="col-sm-8">
                   {{ article.content | raw }}
                  </div>
                </div>
                <div class="panel-body">
                   <h4>Tags:</h4>{% for tag in article.tag%}
                   <button class="tagbox">{{ tag.libelle}}</button>
                   {% endfor %}
                    {% for tag in article.tag%}
                        <a class="buttonlink tagbox" href="{{ path('tags_search',{"libelle":tag.libelle}) }}">{{ tag.libelle}}</a>

                    {% endfor %}

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</section>

<section>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
        <h2>Build</h2>
          Bootply is a playground for Twitter Bootstrap.
        </div>
        <div class="col-md-4">
        <h2>Design</h2>
          Use Bootply to design, prototype, extend the Bootstrap framework.
        </div>
        <div class="col-md-4">
        <h2>Test</h2>
          Use Bootply to test and debug Bootstrap designs.
        </div>
      </div>
      </div>
</section>

<section>
  <div class="row">
    <div class="text-center">
      <a href="http://www.bootply.com"><i class="icon-facebook icon-3x"></i> </a> &nbsp;
      <a href="http://twitter.com/bootply"><i class="icon-twitter icon-3x"></i></a> &nbsp;
      <a href="http://pinterest.com/in1"><i class="icon-pinterest icon-3x"></i></a>
    </div>
  </div>
</section>
{% endblock %}
