{% extends 'base.html.twig' %}

{% block title %}
    Liste des articles
{% endblock %}

{% block section %}


<div class="row">
<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <table class="table">
        <thead>
            <tr class='panel-heading'>
                <td colspan="6"><h3>Liste des articles</h3></td>
                <td colspan="4">
                  <div class="buttonLinkTop">
      <a href="{{ path('article_new') }}">Créer un nouvel article</a>
        </div>
                </td>
            </tr>
            <tr>
                <th>Id</th>
                <th style="padding-left:50px;">Nom prénom</th>
                <th>Date de rédaction</th>
                <th>Titre de l'article</th>
                <th>Contenu</th>
                <th>Date de Publication</th>
                <th>Image (cliquez pour agrandir)</th>
                <th>En ligne</th>
                <th>Tags</th>
                <th style="padding-right:200px;">Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.user.nom }} {{ article.user.prenom }}</td>
                <td>{{ article.dateArticle | localizeddate("medium", "none", null, null, "ccc d LLL - HH:mm") }}</td>
                <td>{{ article.titreArticle }}</td>
                <td>{{ article.content | raw }}</td>
                <td>{{ article.datePublication | localizeddate("medium", "none", null, null, "ccc d LLL - HH:mm") }}</td>

                {% if not article.imageName %}
                    <td><a href="javascript:ouvre_doc('{{ asset('/public/img/article/default.jpg') }}')">
                            <img class="img-responsive" src="{{ asset('/public/img/article/default.jpg') }}" alt="{{ article.titreArticle }}" style="width:150px;height:50px;">
                        </a>
                    </td>
                {% else %}
                    <td><a href="javascript:ouvre_doc('{{ asset('/public/img') }}{{ vich_uploader_asset(article, 'imageFile') }}')">
                            <img class="img-responsive" src="{{ asset('/public/img') }}{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.titreArticle }}" style="width:150px;height:50px;">
                        </a>
                    </td>
                {% endif %}
                {% if article.online %}
                <td style="background-color: #98d44e"></td>
                    {% else %}
                    <td style="background-color: red"></td>
                    {% endif %}
                <td><!--Affichage des tags de l'article -->
                    {% for tag in article.tag %}
<div class="tagbox">
                            <a href="{{ path('tags_search', { 'libelle': tag.libelle }) }}">{{ tag.libelle }}</a>

</div>
                    {% endfor  %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('article_show', { 'id': article.id }) }}">Voir l'article</a>
                        </li>
                        <li>
                            <a href="{{ path('article_edit', { 'id': article.id }) }}">Editer l'article</a>
                        </li>
                        <li>
                            <a href="{{ path('article_delete', { 'id': article.id }) }}">Supprimer l'article</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div></div></div>
{% block footer %}
{% endblock %}

{% endblock %}
