{% extends 'base.html.twig' %}

{% block title %}
    Liste des articles
{% endblock %}

{% block section %}
    <div class="buttonLink">
        <a href="{{ path('article_new') }}">Créer un nouvel article</a>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">Liste des articles</div>
        <div class="panel-body">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Utilisateur / Nom Prénom</th>
                <th>Date de rédaction</th>
                <th>Titre de l'article</th>
                <th>Contenu</th>
                <th>Date de Publication</th>
                <th>Image</th>
                <th>En ligne</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.user.username }} / {{ article.user.nom }} {{ article.user.prenom }}</td>
                <td>{{ article.dateArticle | date('d-m-Y H:i:s') }}</td>
                <td>{{ article.titreArticle }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.datePublication | date('d-m-Y H:i:s') }}</td>

                {% if not article.imageName %}
                    <td><img class="img-responsive" src="{{ asset('/public/img/article/default.jpg') }}" alt="{{ article.titreArticle }}" style="width:304px;height:228px;"></td>
                {% else %}
                    <td><img class="img-responsive" src="{{ asset('/public/img') }}{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.titreArticle }}" style="width:304px;height:228px;"></td>
                {% endif %}
                {% if article.online %}
                <td style="background-color: green"></td>
                    {% else %}
                    <td style="background-color: red"></td>
                    {% endif %}
                <td><!--Affichage des tags de l'article -->
                    {% for tag in article.tag %}
                        <div class="buttonLink">
                            <a href="{{ path('tags_search', { 'libelle': tag.libelle }) }}">{{ tag.libelle }}</a>
                        </div>

                    {% endfor  %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('article_show', { 'id': article.id }) }}">Voir l'article</a>
                        </li>
                        <li>
                            <a href="{{ path('article_edit', { 'id': article.id }) }}">Editer l'article</a>
                        </li>
                        <li>
                            <a href="{{ path('article_delete', { 'id': article.id }) }}">Supprimer l'article</a>
                        </li>
                        
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div></div></div></div>

{% endblock %}
