{% extends 'base.html.twig' %}

{% block title %}
    Création d'article
{% endblock %}

{% block section %}
    <button class="btn btn-info buttonInfo">
        <a style="color:white;text-decoration: none;" href="javascript:ouvre_doc('{{path('documentation_show',{'doc':'articleNew'}) }}')">Voir l'aide</a>
    </button>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">Création d'un article</div>
        <div class="panel-body">
          <div class="container col-md-10 col-md-offset-1">
        {{ form_start(form) }}
        {{ form_row(form.user) }}
          <hr>
        {{ form_row(form.dateArticle) }}
        {{ form_row(form.titreArticle) }}
        <div class="vich-file">
            {{ form_widget(form.imageFile) }}
          </div>
            <hr>
        {{ form_row(form.content) }}
        {{ form_row(form.datePublication) }}

            <hr>
        {{ form_row(form.tag) }}
<hr>
        {{ form_row(form.online) }}

        <hr>
        <table>
          <tr>
            <td><input type="submit" value="Créer un article" class="button" >
              {{ form_end(form) }}
            </td>
            <td>
              <div class="buttonLink">
                <a href="{{ path('article_index') }}">Retour à la liste</a>
              </div>
            </td>
          </tr>
        </table>

{% endblock %}
{% block footer %}
{% endblock %}
