{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ article.user }}</td>
            </tr>
            <tr>
                <th>Datearticle</th>
                <td>{{ article.dateArticle }}</td>
            </tr>
            <tr>
                <th>Titrearticle</th>
                <td>{{ article.titreArticle }}</td>
            </tr>
            <tr>
                <th>Sujetarticle</th>
                <td>{{ article.sujetArticle }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Datepublication</th>
                <td>{{ article.datePublication }}</td>
            </tr>
            <tr>
                <th>Imagearticle</th>
                <td>{{ article.imageArticle }}</td>
            </tr>
            <tr>
                <th>Online</th>
                <td>{% if article.online %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Tagid</th>
                <td>{{ article.tagId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
