{% extends 'base.html.twig' %}

{% block section %}
<section>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">

        <!-- Blog Post Content Column -->


            <!-- Blog Post -->

            <!-- Title -->
            <h1>{{ article.titreArticle }}</h1>

            <!-- Author -->
            <p class="lead">
                par <a href="#">{{ article.user }}</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span> Publié le {{ article.datePublication | date('d-m-Y H:i') }}</p>

            <hr>

            <!-- Preview Image -->
            <img class="img-responsive" src="{{ asset('public/img/Articles/Article_'~article.dateArticle| date('d_m_y')~'/'~article.imageName ) }}" alt="{{ article.titreArticle }}" style="width:304px;height:228px;">

            <hr>

            <!-- Post Content -->

            {{ article.content }}

            <hr>

            <!-- Blog Comments -->

            <!-- Comments Form -->
            <th>Tags</th>
            <td><!--Affichage des tags de l'article -->
                {% for tag in article.tag %}
                {{ tag.libelle }}
                {% endfor  %}
            </td>



            <!-- Posted Comments -->

            <!-- Comment -->

                    <!-- End Nested Comment -->

            </div>
            </div>

</div>
        </div>
</section>
    <ul>
        <li>
            <a href="{{ path('article_index') }}">Retourner à la liste</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('article_edit', { 'id': article.id }) }}">Editer l'article</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Effacer l'article">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
