{% extends 'base.html.twig' %}

{% block title %}
    Reinitialisation
{% endblock %}

{% block section %}
    <div class="bg"></div>
                  <div class="login-page">
                    <div class="form">
                      <form class="login-form">
                        {{ form_start(form) }}
                        {{ form_row(form.email) }}
                          {{ form_label(form.captcha) }}
                          {{ form_widget(form.captcha) }}
                          {{ form_errors(form.captcha) }}
                          <br/>
                        <input type="submit" value="Envoyer" />
                        {{ form_end(form) }}
                      </form>
                    </div>
                  </div>
{% endblock %}
