<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}

            Bienvenue !
            
            {% endblock %}</title>
        
        <link href="{{ asset('public/CSS/bootstrap.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('public/CSS/style.css') }}" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="{{ asset('public/script/jquery-3.1.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/script/menuDeroulant.js') }}"></script>

        {% block stylesheets %}
{{ dump(app.user) }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('Public/img/favicon.ico') }}" />
    </head>
    <body>

        {% block body %}

        
        
        {% if app.request.requestUri != "/EHS/EHS/web/app_dev.php/user/new" %}
        <div class="top-div">
            <div class="logo">
                <img src="{{ asset('public/img/wip_ehs.png') }}"/>
            </div>
            {% block nav %}
                <ul class="topnav">
                    <li><a href="{{ path('index') }}">Accueil</a></li>
                    <li>
                        <a href="#">Association</a>
                        <ul class="subnav">
                            <li><a href="#">Statuts</a></li>
                            <li><a href="#">Bureau</a></li>
                            <li><a href="#">Presentation</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Nos actions</a>
                        <ul class="subnav">
                            <li><a href="#">Ateliers</a></li>
                            <li><a href="#">Rencontres</a></li>
                            <li><a href="#">Spectacles</a></li>
                            <li><a href="#">Contributions</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Agenda</a>
                        <ul class="subnav">
                            <li><a href="#">Ateliers</a></li>
                            <li><a href="#">Rencontres</a></li>
                            <li><a href="#">Spectacles</a></li>
                            <li><a href="#">Contributions</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('about') }}">A propos</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                </ul>
        <div class="login">
            {% block login %}
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% include 'security/login.html.twig' %}
                {% else %}
                    <h3> Bienvenue {{ app.user.username }} </h3>
                    <ul>
                        <li>
                            <a href="{{ path("user_security_logout") }}">Se deconnecter</a>
                        </li>



                    {% if(is_granted('ROLE_ADMIN')) %}
                        <li>
                            <a href="#">Acceder à l'interface admin</a>
                        </li>

                    {% endif %}
                    {% if(is_granted('ROLE_PRESS')) %}

                    {% endif %}

                {% endif %}
                    </ul>
            {% endblock %}
        </div>
    </div>
        {% endblock %}
        {% endif %}
        
        
        {% block section %}{% endblock %}
        
        
        {% endblock %}
        
        
        {% block javascripts %}



        {% endblock %}
    </body>
</html>
