<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %}
            Bienvenue !
        {% endblock %}

        </title>
        <link href="{{ asset('public/CSS/bootstrap.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css') }}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }} "/>
        <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}" />
        <link type="text/css" rel="stylesheet" media="all" href="{{ asset('public/CSS/style.css') }}" id="theme_css" />
        {% block stylesheets %}
<!--{{ dump(app.user) }}-->
        {% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Retourner en haut de la page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
        {% block body %}
        <div class="top-div">
          {% block nav %}
          <nav id="header" class="navbar navbar-fixed-top">
            <div id="header-container" class="container navbar-container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a id="brand" class="navbar-brand" href="{{ path('index') }}">

                  <img src="{{ asset('public/img/EHS3.png') }}" alt="logo de l'association" />

                </a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="inactive"><a href="{{ path('index') }}">Accueil</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">L'Association <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('association_presentation') }}">Présentation</a></li>
                      <li><a href="{{ path('association_status') }}">Les statuts</a></li>
                      <li><a href="{{ path('association_about') }}">A propos de nous</a></li>
                    </ul>
                  </li>
                  <li>
                    {% if (is_granted('ROLE_USER'))%}
                  <a href="{{ path('forum_index') }}">Forum</a>
                  {% endif %}
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agenda<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('events_index') }}">Evenements</a></li>
                        {% if(is_granted('ROLE_PRESS')) %}
                            <li><a href="{{ path('association_annuaire') }}">Annuaire</a></li>
                        {% endif %}
                    </ul>
                  </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('contact') }}">Nous contacter</a>
                            </li>
                            <li>
                                <a href="{{ path('association_inscription') }}">Faire une demande d'inscription</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                      {% if is_granted('ROLE_ADMIN') %}
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu administration <span class="caret"></span></a>
                      {% else %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Espace Personnel <span class="caret"></span></a>
                      {% endif %}
                      <ul class="dropdown-menu">
                      <li>
                        <div class="login">
                            {% block login %}

                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('user_showpublic',{"id":app.user.id}) }}">Mon profil</a></li>

                        {% if(is_granted('ROLE_PRESS')) %}
                            {% if(not is_granted('ROLE_ADMIN')) %}
                            <li><a href="{{ path('association_archive_press') }}">Archives</a></li>
                             {% endif %}
                            <li role="separator" class="divider"></li>
                        {% endif %}

                        {% if(is_granted('ROLE_ADMIN')) %}

                            <li><a href="{{ path('article_index') }}">Articles</a></li>
                            <li><a href="{{ path('events_index') }}">Evenements</a></li>
                            <hr>
                            <li><a href="{{ path('newsletter_index') }}">Newsletter</a></li>
                            <li><a href="{{ path('association_archive_index') }}">Archives</a></li>
                            <hr>
                            <li><a href="{{ path('user_index') }}">Utilisateurs</a></li>
                            <li><a href="{{ path('association_finder') }}">Fichiers</a></li>
                            <li role="separator" class="divider"></li>

                        {% endif %}

                        <li><a href="{{ path("user_security_logout") }}">Se deconnecter</a></li>
                        {% else %}
                            <li><a href="{{ path("login") }}">Se connecter</a></li>
                            <li><a href="{{ path("forgot_password") }}">Mot de passe oublie?</a></li>

                        {% endif %}
                        {% endblock %}
                        </ul></li></ul></div>


             </div>
          </nav>
        </div>
        {% endblock %}
            {% block flashbag %}
                {% for flash in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        <p align="center">{{ flash }}</p>
                    </div>
                {% endfor %}
                {% for flash in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger">
                        <p align="center">{{ flash }}</p>
                    </div>
                {% endfor %}
                {% for flash in app.session.flashbag.get('notice') %}
                    <div class="flash notice">
                        <p align="center">{{ flash }}</p>
                    </div>
                {% endfor %}
            {% endblock %}
        {% block section %}
        {% endblock %}
        {% block dropzone %}
        {% endblock %}
        {% endblock %}
{% block footer %}
<div class="footer-container">
        <div class="footer-distributed">
          <div class="footer-left">
            <h3>Ethique Handicap et Société</h3>
            <p class="footer-links">
              <a href="{{ path('index') }}">Accueil</a>
              ·
              <a href="{{ path('association_status') }}">L'Association</a>
              ·
              <a href="{#{{ path('events_index') }}#}">Agenda</a>
              ·
              <a href="{{ path('forum_index') }}">Forum</a>
              ·
              <a href="{{ path('association_mentions') }}">Mentions Légales</a>
            </p>
            <p class="footer-company-name">Ethique Handicap et Société &copy; 2016</p>
          </div>
          <div class="footer-center">
            <div>
              <i class="fa fa-map-marker"></i>
              <p><span>21 Rue du Lorem</span>44000 Nantes</p>
            </div>
            <div>
              <i class="fa fa-phone"></i>
              <p>01 23 45 67 89</p>
            </div>
            <div>
              <i class="fa fa-envelope"></i>
              <p><a href="mailto:support@company.com">support@company.com</a></p>
            </div>
          </div>
          <div class="footer-right">
            <p class="footer-company-about">
              <span>A propos de nous</span>
              Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>
            <div class="footer-icons">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-github"></i></a>
            </div>
          </div>
        </div>
</div>
{% endblock %}

<script type="text/javascript" src="{{ asset('public/script/jquery-3.1.0.min.js') }}"></script>
<script src="{{ asset('public/script/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('public/script/menuDeroulant.js') }}"></script>
<script type="text/javascript" src="{{ asset('public/script/parallax.js') }}"></script>
<script type="text/javascript" src="{{ asset('public/script/navbarplus.js') }}"></script>
<script type="text/javascript" src="{{ asset('public/script/backtotop.js') }}"></script>
<script type="text/javascript" src="{{ asset('public/script/theming.js') }}"></script>
<script type="text/javascript" src="{{ asset('public/script/ouvreDoc.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
