<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
        {% block title %}
        Bienvenue !
        {% endblock %}
        </title>
        <link href="{{ asset('public/CSS/bootstrap.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('public/CSS/style.css') }}" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }} "/>
        <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
<!--{{ dump(app.user) }}-->
        {% endblock %}

    </head>
    <body>
      <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Retourner en haut de la page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

        {% block body %}
        {% if app.request.requestUri != "/EHS/EHS/web/app_dev.php/user/new" %}
        <div class="top-div">
          {% block nav %}
          <nav id="header" class="navbar navbar-fixed-top">
            <div id="header-container" class="container navbar-container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a id="brand" class="navbar-brand" href="#">

                  <img src="{{ asset('public/img/EHS.png') }}" alt="" />
                </a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="inactive"><a href="{{ path('index') }}">Accueil</a></li>
                  <li class="inactive"><a href="{{ path('article_index') }}">Articles</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">L'Association <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('association_status') }}">Notre équipe</a></li>
                      <li><a href="{{ path('association_office') }}">Nos actions</a></li>
                      <li><a href="{{ path('association_presentation') }}">Comment adhérer?</a></li>
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agenda<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Ateliers</a></li>
                      <li><a href="#">Rencontres</a></li>
                      <li><a href="#">Spectacles</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Contributions</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Un autre truc</a></li>
                    </ul>
                  </li>
                  <li>
                  <a href="{{ path('forum_index') }}">Forum</a>
                  </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Espace Personnel <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li>
                        <div class="login">
                            {% block login %}

                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('user_showpublic',{"id":app.user.id}) }}">Mon profil</a></li>
                        <li><a href="{{ path("user_security_logout") }}">Se deconnecter</a></li>
                        {% if(is_granted('ROLE_ADMIN')) %}
                            <li><a href="{{ path('user_new') }}">Ajouter un utilisateur</a></li>
                            <li><a href="{{ path('user_index') }}">Acceder à l'interface admin</a></li>
                            <li><a href="{{ path('association_archive_index') }}">Gerer les archives</a></li>
                        {% endif %}
                        {% if(is_granted('ROLE_PRESS')) %}

                        {% endif %}

                        {% else %}
                            <li><a href="{{ path("login") }}">Se connecter</a></li>
                            <li><a href="{{ path("forgot_password") }}">Mot de passe oublie?</a></li>

                        {% endif %}
                        {% endblock %}
                        </div>
                        </li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>
        {% endblock %}
        {% endif %}
        {% block flashbag %}
                {% for flash in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        <p align="center">{{ flash }}</p>
                    </div>
                {% endfor %}
                {% for flash in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger">
                        <p align="center">{{ flash }}</p>
                    </div>
                {% endfor %}
                {% for flash in app.session.flashbag.get('notice') %}
                    <div class="flash notice">
                        <p align="center">{{ flash }}</p>
                    </div>
                {% endfor %}

            {% endblock %}
        {% block section %}
        {% endblock %}
        {% block dropzone %}
        {% endblock %}
        {% endblock %}
        <script type="text/javascript" src="{{ asset('public/script/jquery-3.1.0.min.js') }}"></script>
        <script src="{{ asset('public/script/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/script/menuDeroulant.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/script/parallax.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/script/navbarplus.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/script/backtotop.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
