<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}

            Bienvenue !
            
            {% endblock %}</title>
        
        <link href="{{ asset('Public/CSS/bootstrap.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('Public/CSS/style.css') }}" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="{{ asset('Public/script/jquery-3.1.0.min.js') }}"></script>

        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="login">
            {% block login %}
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}            
                    {% include 'security/login.html.twig' %}
                {% else %}
                    <h3> Bienvenue {{ app.user.username }} </h3>
                    <a href="{{ path("user_security_logout") }}">Se deconnecter</a>
                    <a href="{{ path("contact") }}">Nous contacter</a>
                {% endif %}
            {% endblock %}
            </div>
        
        
        {% if app.request.requestUri != "/EHS/EHS/web/app_dev.php/user/new" %}
        {% block nav %}
        <div class="nav">
        <div class="onhover">
            <h1>Qui sommes nous?</h1>
            <div>Association</div>
            <div>Statuts</div>
            <div>Bureau</div>
            <div>Presentation</div>
        </div>
        <div class="onhover">
            <h1>Nos actions</h1>
            <div>Ateliers</div>
            <div>Rencontres citoyennes</div>
            <div>Spectacles</div>
            <div>Contributions</div>
        </div>
        <div class="onhover">
            <h1>Agenda</h1></div>
        </div>
        {% endblock %}
        {% endif %}
        
        
        {% block section %}{% endblock %}
        
        
        {% endblock %}
        
        
        {% block javascripts %}
            $(document).ready( function () {
            // On cache les sous-menus :
            $(".onhover").hide();
            } ) ;

        {% endblock %}
    </body>
</html>
