{% extends 'base.html.twig' %}

{% block title %}
    Edition d'archives
{% endblock %}

{% block section %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">Edition d'archives</div>
            <div class="panel-body">
                <div class="container col-md-10 col-md-offset-1">
    {{ form_start(edit_form) }}
    {{ form_row(edit_form.titreArchive) }}
    {% if archive.imageName %}
        <strong>Fichier actuel de l'archive :</strong> {{ archive.imagename }} </br></br>
    {% endif %}
    <div class="vich-file">
        {{ form_widget(edit_form.imageFile) }}
    </div>
<hr>
<table>
    <tr>
        <td>
            <input class="button" type="submit" value="Editer une archive" />
            {{ form_end(edit_form) }}
        </td>
        <td>
            <div class="buttonLink">
                <a href="{{ path('association_archive_index') }}">Retour à la liste</a>
            </div>
        </td>
        <td>
            {{ form_start(delete_form) }}
            <input class="button" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </td>
    </tr>
</table>




</div></div></div></div></div>
{% endblock %}
