{% extends 'base.html.twig' %}

{% block title %}
    Archives Presse
{% endblock %}

{% block section %}

<div class="wrapper">
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">Liste des archives</div>
            <div class="panel-body">
                <div class="container">
                    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Date de création</th>
                <th>Dernière mise à jour</th>
                <th>Titre de l'archive</th>
                <th>Commentaire</th>
                <th>Nom du fichier (Cliquer pour télécharger)</th>
            </tr>
        </thead>
        <tbody>
        {% for archive in archives %}
            <tr>
                <td>{% if archive.dateCreation %}{{ archive.dateCreation|localizeddate("medium", "none", null, null, "d LLL Y HH:MM") }}{% endif %}</td>
                <td>{% if archive.updatedAt %}{{ archive.updatedAt|localizeddate("medium", "none", null, null, "d LLL Y HH:MM") }}{% endif %}</td>
                <td>{{ archive.titreArchive }}</td>
                <td>{{ archive.commentaire }}</td>
                {% if archive.imageName matches '/^[0-9]/' %}
                    <td><a href="{{ app.request.basePath }}/..{{ vich_uploader_asset(archive, 'imageFile') }}" download>{{ archive.imageName }}</a></td>
                {% else %}
                    <td><a href="{{ app.request.basePath }}/../archives/association/{{ archive.imageName }}" download>{{ archive.imageName }}</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div></div></div></div></div></div>
{% endblock %}
