{% extends 'base.html.twig' %}

{% block section %}

<div class="wrapper">
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">Liste des archives</div>
            <div class="panel-body">
                <div class="container">
                    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Date de création</th>
                <th>Titre de l'archive</th>
                <th>Nom du fichier (Cliquer pour télécharger)</th>
                <th>Dernière mise à jour</th>
            </tr>
        </thead>
        <tbody>
        {% for archive in archives %}
            <tr>
                <td>{% if archive.dateCreation %}{{ archive.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ archive.titreArchive }}</td>
                <td><a href="{{ app.request.basePath }}/..{{ vich_uploader_asset(archive, 'imageFile') }}" download>{{ archive.imageName }}</a></td>
                <td>{% if archive.updatedAt %}{{ archive.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div></div></div></div></div></div>
{% endblock %}
