{% extends 'base.html.twig' %}

{% block title %}
    Voir une archive
{% endblock %}

{% block section %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">Archive</div>
            <div class="panel-body">
                <div class="container col-md-10 col-md-offset-1">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">

            <tr>
                <th>Id</th>
                <td>{{ archive.id }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{% if archive.dateCreation %}{{ archive.dateCreation|localizeddate("medium", "none", null, null, "d LLL Y HH:MM") }}{% endif %}</td>
            </tr>
            <tr>
                <th>Titre de l'archive</th>
                <td>{{ archive.titreArchive }}</td>
            </tr>
            <tr>
                <th>Nom du fichier</th>
                <td>{{ archive.imagename }}</td>
            </tr>
            <tr>
                <th>Dernière mise à jour</th>
                <td>{% if archive.updatedAt %}{{ archive.updatedAt|localizeddate("medium", "none", null, null, "d LLL Y HH:MM") }}{% endif %}</td>
            </tr>
            <tr>
                <th>Telecharger</th>
                {% if archive.imageName matches '/^[0-9]/' %}
                    <td><a href="{{ app.request.basePath }}/..{{ vich_uploader_asset(archive, 'imageFile') }}" download>Cliquez ici</a></td>
                {% else %}
                    <td><a href="{{ app.request.basePath }}/../archives/association/{{ archive.imageName }}" download>Cliquez ici</a></td>
                {% endif %}
            </tr>

        </tbody>
    </table>
                        <hr>
                        <div class="buttonLink">
                            <a href="{{ path('association_archive_edit', { 'id': archive.id }) }}">Editer</a>
                        </div>

                        {{ form_start(delete_form) }}
                        <input class="btn btn-danger" type="submit" value="Supprimer">
                        {{ form_end(delete_form) }}

                        <div class="buttonLink">
                            <a href="{{ path('association_archive_index') }}">Retour à la liste</a>
                        </div>
</div></div></div></div></div></div>


{% endblock %}
