{% extends 'base.html.twig' %}

{% block title %}
    Editer un topic
{% endblock %}

{% block section %}
<div class='contener'>
  <div class="panel panel-default edit-forum">
    <div class="panel-heading">
      <h3>Modification et suppression du topic</h3>
    </div>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" class="btn btn-default"/>
    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer" class="btn btn-default">
    {{ form_end(delete_form) }}

    <a href="{{ path('forum_show', { 'id': topic.forum.id }) }}"
    class="btn btn-default">Retour</a>
  </div>
</div>
{% endblock %}
