{% extends 'base.html.twig' %}

{% block section %}
    <h1>{{ topic.title }}</h1>

    <table class='table'>
        <tbody>

            {% for post in topic.posts %}
                <tr>
                    <td>{{ post.content }}<td>
                    <td>Publié par {{ post.author }}
                    <td>Le {{ post.dateEdit|date('d/m/Y')}} à {{ post.dateEdit|date('H:i')}}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('forum_show', { 'id': topic.forum.id }) }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('post_new', { 'id': topic.id }) }}">Commenter</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
        
    </ul>






    
{% endblock %}
