{% extends 'base.html.twig' %}

{% block section %}

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">Liste des tags d'évènements</div>
        <div class="panel-body">
<div class="container">
    <h1>Evtags list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evtag in evtags %}
            <tr>
                <td><a href="{{ path('evtags_show', { 'id': evtag.id }) }}">{{ evtag.id }}</a></td>
                <td>{{ evtag.libelle }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('evtags_show', { 'id': evtag.id }) }}">Voir ce tag</a>
                        </li>
                        <li>
                            <a href="{{ path('evtags_edit', { 'id': evtag.id }) }}">Editer ce tag</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evtags_new') }}">Créer un nouveau tag</a>
        </li>
    </ul>
</div>

{% endblock %}
