{% extends 'base.html.twig' %}

{% block section %}
    <h1>Voici les évènements correspondants au tag : {{ evtags.libelle }}</h1>
    {% if events is empty %}
        <h3>Il n'y a aucun évènement qui corresponde au tag: {{ evtags.libelle }}</h3>
        <ul>
            <li>
                <a href="{{ path('index') }}">Retour aux évènements</a>
            </li>
        </ul>
    {% endif %}

    {% for event in events %}
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-5 col-md-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading"><a href="{{path('events_show',{'id':event.id})}}">{{event.title}}</a></div>
                        <div class="panel-body">
                            {% if event.start %}
                                <p><span class="glyphicon glyphicon-time"></span>
                                    {{ event.start|localizeddate("medium", "none", null, null, "ccc d LLL à HH:mm") }}
                                </p>
                            {% endif %}
                            {% if event.address %}
                                <p><span class="glyphicon glyphicon-home"></span>
                                    {{ event.address }}
                                </p>
                            {% endif %}
                            {{ event.description|length > 100 ? event.description|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0, 100) ~ '...' : event.description|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}<br/>
                            {# {% if is_granted('ROLE_ADMIN') %}
                                {% for registration in event.registrations %}
                                    {{ registration.email }}</br>
                                {% endfor %}
                            {% endif %} #}
                            {% for evtag in event.evtag %}
                                <a href="{{ path('evtags_search',{"libelle":evtag.libelle}) }}">{{ evtag.libelle}}</a>
                            {% endfor  %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

    {% if(is_granted('ROLE_ADMIN')) %}
        <a href="{{ path('evtags_new') }}">Créer un tag d'évènements</a>
    {% endif %}

    <ul>
        <li>
            <a href="{{ path('index') }}">Retour aux articles</a>
        </li>
    </ul>


{% endblock %}
