{% extends 'base.html.twig' %}

{% block section %}
    <h1>newsletter - liste</h1>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Sujet</th>
                <th>Texte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for newsletter in newsletters %}
            <tr>
                <td>{% if newsletter.date %}{{ newsletter.date|date('d-m-Y') }}{% endif %}</td>
                <td><a href="{{ path('newsletter_show', { 'id': newsletter.id }) }}">{{ newsletter.sujet }}</a></td>
                <td>{{ newsletter.texte }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('newsletter_send', { 'id': newsletter.id }) }}">envoyer</a>
                        </li>
                        <li>
                            <a href="{{ path('newsletter_edit', { 'id': newsletter.id }) }}">éditer</a>
                        </li>
                        <li>
                            <a href="{{ path('newsletter_delete', { 'id': newsletter.id }) }}">supprimer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('newsletter_new') }}">créer une nouvelle newsletter</a>
        </li>
    </ul>
{% endblock %}
