{% extends 'base.html.twig' %}

{% block section %}
    <h1>newsletter - affichage</h1>
<div class="container">

    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{% if newsletter.date %}{{ newsletter.date|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ newsletter.sujet }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ newsletter.texte|raw }}</td>
            </tr>
            <tr>
                <th>Articles</th>
                <td>
                    {% for article in newsletter.article %}
                        {{ article.titreArticle }}
                        <br>
                    {% endfor  %}
                </td>
            </tr>


        </tbody>
    </table>
</div>
    <ul>
        <li>
            <a href="{{ path('newsletter_edit', { 'id': newsletter.id }) }}">éditer</a>
        </li>
        <li>
            <a href="{{ path('newsletter_send', { 'id': newsletter.id }) }}">envoyer</a>
        </li>
        <li>
            <a href="{{ path('newsletter_delete', { 'id': newsletter.id }) }}">supprimer</a>
        </li>
        <li>
            <a href="{{ path('newsletter_index') }}">retour à la liste</a>
        </li>
    </ul>
{% endblock %}
