{% extends 'base.html.twig' %}

{% block section %}
    <h1>newsletter - affichage</h1>

    <table>
        <tbody>
            <tr>
                <th>Date</th>
                <td>{% if newsletter.date %}{{ newsletter.date|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ newsletter.sujet }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ newsletter.texte }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('newsletter_edit', { 'id': newsletter.id }) }}">éditer</a>
        </li>
        <li>
            <a href="{{ path('newsletter_send', { 'id': newsletter.id }) }}">envoyer</a>
        </li>
        <li>
            <a href="{{ path('newsletter_delete', { 'id': newsletter.id }) }}">supprimer</a>
        </li>
        <li>
            <a href="{{ path('newsletter_index') }}">retour à la liste</a>
        </li>
    </ul>
{% endblock %}
